.FlightContainer{
    width: 42rem;
    height: 4rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
    justify-content: center;
}
.Header{
    width: 9rem;
    text-align: center;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background-color: #08A3E2;
    border-color: white;
    color: white;
}
.Body{
    width: 9rem;
    padding-top: 1rem;
    text-align: center;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-color: white;
    background-color: #f7f7f7;
}